.main-section > div {
    flex-grow: 1;
    overflow-y: auto;
}

/* Contact List */
contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 48px;
    min-width: 450px;
    width: 450px;
    box-shadow: var(--box-shadow-sm);
    overflow-y: auto;
    z-index: 1;
}

.contact-letter {
    margin-inline: 20px;
    padding: 20px;
    border-bottom: 2px solid var(--color-light-gray);
    user-select: none;
}

.contact {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 25px;
    height: 80px;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    user-select: none;
    transition: all var(--transition-fast);
}

.contact:hover {
    color: var(--color-text-white);
    background: var(--color-primary);
}

.contact:active,
.active-contact {
    color: var(--color-text-white);
    background: var(--color-active);
}

.contact h5 {
    margin-bottom: 6px;
}

.contact span:nth-child(2) {
    color: var(--color-secondary);
}

.contact-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    color: var(--color-text-white);
    border: 2px solid white;
    box-shadow: var(--box-shadow-sm);
    border-radius: 100%;
}


/* Contact Details */
contact-details {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contact-details-header {
    gap: 54px;
    align-items: center;
}

.contact-details-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    color: var(--color-text-white);
    font-size: var(--font-size-h2);
    background: orange;
    border: 3px solid white;
    border-radius: 100%;
    box-shadow: var(--box-shadow-sm);
    user-select: none;
}

.contact-actions-container {
    gap: 16px;
    margin-top: 16px;
}

.contact-action {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-secondary);
    cursor: pointer;
    user-select: none;
    transition: color var(--transition-fast);
}

.contact-action:active {
    color: var(--color-active);
}

.contact-action svg {
    width: 16px;
    height: 16px;
}

.contact-details-body {
    gap: 21px;
    font-size: var(--font-size-h5);
}

.contact-details-body div {
    gap: 12px;
}

.contact-details-body a {
    width: max-content;
}

.contact-details-body a:hover {
    text-decoration: none;
}


/* Add Contact Button */
.add-contact {
    position: absolute;
    right: 48px;
    bottom: 64px;
}


/* Dialog */
dialog {
    width: 762px;
}

.dialog-content > div:first-child {
    justify-content: center;
    gap: 25px;
    padding: 48px;
    color: var(--color-text-white);
    background: var(--color-primary);
    user-select: none;
}

.dialog-content > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
    padding: 80px 56px;
}

.dialog-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
}

.dialog-content > div > img {
    width: 50px;
}

.dialog-content h3 {
    position: relative;
    margin-bottom: 100px;
}

.dialog-content h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 3px;
    width: 90px;
    border-radius: 2px;
    background: var(--color-secondary);
}

.dialog-content h5 {
    margin-top: auto;
    margin-bottom: auto;
}

.dialog-content input {
    margin-top: 0;
}

.dialog-firstname {
    background: white url('../assets/icons/person_gray.svg') no-repeat right var(--padding-x) center;
    background-size: var(--font-size-h5) var(--font-size-h5);
}

.dialog-lastname {
    background: white url('../assets/icons/person_gray.svg') no-repeat right var(--padding-x) center;
    background-size: var(--font-size-h5) var(--font-size-h5);
}

.dialog-email {
    background: white url('../assets/icons/mail_gray.svg') no-repeat right var(--padding-x) center;
    background-size: var(--font-size-h5) var(--font-size-h5);
}

.dialog-phone {
    background: white url('../assets/icons/phone_gray.svg') no-repeat right var(--padding-x) center;
    background-size: var(--font-size-h5) var(--font-size-h5);
}

.dialog-contact-actions-container {
    gap: 25px;
}

.dialog-contact-action {
    width: max-content;
}