h1 {
    margin-bottom: 48px;
    user-select: none;
}

h4 {
    margin-top: 35px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

.help-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.help-images img {
    width: 100%;
}

ol li {
    margin-bottom: 10px;
}

ol li::marker {
    font-size: var(--font-size-h5);
    font-weight: 700;
}