.logo-nav {
    align-self: center;
    width: 100px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 24px;
    background: var(--primary);
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
    padding: 0;
    list-style: none;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    height: 46px;
    opacity: 0.6;
    user-select: none;
}

.nav-menu-item:hover,
.active {
    background: var(--active);
    opacity: 1;
    outline: none;
}

.nav-menu-item:last-child {
    margin-top: auto;
}

.nav-menu-item a {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 46px;
    color: var(--white);
    font-size: var(--h6-font-size);
    text-decoration: none;
}

.nav-menu-item img {
    width: 24px;
    height: 24px;
    margin-left: 54px;

}

/* .nav-menu-item span {
    margin-left: 20px;
} */