@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Medium.ttf');
    font-style: medium;
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Bold.ttf');
    font-style: bold;
    font-weight: 700;
}


:root {
    --primary: #2A3647;
    --secondary: #29ABE2;
    --active: #091931;
    --light-gray: #D1D1D1;
    --white: #FFFFFF;
    --background: #F6F7F8;
    --shadow-sm: 0px 4px 4px rgba(0, 0, 0, 0.12);
    --shadow-md: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    --h1-font-size: 61px;
    --h2-font-size: 47px;
    --h3-font-size: 36px;
    --h4-font-size: 27px;
    --h5-font-size: 21px;
    --h6-font-size: 16px;
    --h7-font-size: 12px;
    --h8-font-size: 9px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

html {
    position: fixed;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: var(--background);
}


/* Helper */
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.of-auto {
    overflow: auto;
}



.container {
    display: flex;
}

.content {
    margin: 80px 100px;
}


/* Legal & Help Page */
.content h1 {
    font-size: var(--h1-font-size);
    margin-bottom: 48px;
}

.content h4 {
    font-size: var(--h4-font-size);
    margin-bottom: 10px;
}

.content p {
    font-size: var(--h6-font-size);
    margin-bottom: 35px;
    text-align: justify;
}

.content li {
    margin-bottom: 10px;
}

.content li::marker {
    font-size: var(--h5-font-size);
    font-weight: bold;
}


/* Media Queries */
@media screen and (max-width: 850px) {
    header span {
        display: none;
    }
}