<div class="page-header-content">
    <span>Kanban Project Management Tool</span>
    <div>
        <a href="../../legal.html" draggable="false">
            <img src="./assets/icons/info_gray.svg">
        </a>
        
        <a href="../../help.html" draggable="false">
            <img src="./assets/icons/help_gray.svg">
        </a>
        
        <img src="./assets/img/joseph.jpg" alt="Profile" class="profile" id="profile-picture" tabindex="0"
            draggable="false">
        <!-- Logout Menu -->
        <div class="logout-menu d-none" id="logout-menu">
            <ul>
                <li class="menu-link">
                    <a href="../../index.html" draggable="false">
                        <span>Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>