<nav class="nav-menu">
    <img src="assets/img/logo_white.svg" alt="Logo" class="logo-nav" draggable="false">
    <ul class="nav-menu-list">
        <li class="nav-menu-item">
            <a href="#summary" draggable="false">
                <img src="assets/icons/summary.svg" alt="Summary Icon" draggable="false">
                <span>Summary</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a href="#board" draggable="false">
                <img src="assets/icons/board.svg" alt="Board Icon" draggable="false">
                <span>Board</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a href="#task" draggable="false">
                <img src="assets/icons/task.svg" alt="Task Icon" draggable="false">
                <span>Add Task</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a href="#contacts" draggable="false">
                <img src="assets/icons/contact.svg" alt="Contact Icon" draggable="false">
                <span>Contacts</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a href="/legal.html" draggable="false">
                <img src="assets/icons/info.svg" alt="Info Icon" draggable="false">
                <span>Legal notice </span>
            </a>
        </li>
    </ul>
</nav>