<!-- Logo -->
<img src="./assets/img/logo_white.svg" alt="Logo" class="sidenav-logo" draggable="false">

<!-- Sidenav -->
<nav>
    <ul>
        <li class="nav-link" id="summary-desktop">
            <a href="../../summary.html" draggable="false">
                <img src="./assets/icons/summary.svg" draggable="false">
                <span>Summary</span>
            </a>
        </li>
        <li class="nav-link" id="board-desktop">
            <a href="../../board.html" draggable="false">
                <img src="./assets/icons/board.svg" draggable="false">
                <span>Board</span>
            </a>
        </li>
        <li class="nav-link" id="task-desktop">
            <a href="../../task.html" draggable="false">
                <img src="./assets/icons/task.svg" draggable="false">
                <span>Add Task</span>
            </a>
        </li>
        <li class="nav-link" id="contacts-desktop">
            <a href="../../contacts.html" draggable="false">
                <img src="./assets/icons/contacts.svg" draggable="false">
                <span>Contacts</span>
            </a>
        </li>
        <li class="nav-link" id="legal-desktop">
            <a href="../../legal-notice.html" draggable="false">
                <img src="./assets/icons/info.svg" draggable="false">
                <span>Legal Notice</span>
            </a>
        </li>
    </ul>
</nav>